@import "tailwindcss";
@import "./animations.css";

@custom-variant dark (&:where(.dark, .dark *));


:root{
  font-family: 'Inter';
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

.glassy{
  @apply transition-all duration-1000 bg-neutral-200/30 shadow-lg dark:bg-neutral-900/30; 
}

.clickable{
  @apply cursor-pointer transition-all duration-300 active:scale-95 shadow-lg active:shadow-none;
}